<script src="jquery.js" type="text/javascript"></script>
<script src="jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        var $element;
        var $pos;
        $(".ob").draggable({
            helper: "clone",
            revert: "invalid"
        });
        $("#tablica").droppable({
            accept: ".ob",
            drop: function (event, ui) {
                $(this).append($(ui.draggable).clone());
                $("#tablica .ob").addClass("obiekt");
                $(".obiekt").removeClass("ui-draggable ob");
                
                $(".obiekt").draggable({
                    snap: true,
                    create: function (event, ui) {                      
                        $(this).position({
                            of: "#firstdiv"
                        });
                    },
                    start: function () {
                        $element = this;
                    },
                    drag: function (event, ui) {
                        $pos = $(this).offset();
                        $(".xPos", $element).val($pos.left);
                        $(".yPos", $element).val($pos.top);
                        $(".xD").val($pos.left + " top: " + $pos.top);
                    },
                    containment: "#tablica"
                });
            }
        });
    });
</script>
<style>
    div.obiekt {
        border-style: solid;
        width: 200px;
        height: auto;
        object-position: left,top;
    }

    div.ob {
        border-style: solid;
        width: 200px;
        height: auto;
        object-position: left,top;
    }

    #tablica {
        width: 600px;
        height: 350px;
        border-style: solid;
        border-color: red;
        float: left;
    }

    #firstdiv {
        border-style: dotted;
        width: 200px;
        height: 100px;
    }

    #listOfElem {
        border-style: double;
        float: left;
    }
</style>
<div id="tablica">
    <div id="firstdiv">
    </div>
</div>
<ul id="listOfElem">
    <li class="elem">
        <div class="ob">
            <p id="pd">Zegar</p>
            <table>
                <tr>
                    <td>drag x: </td>
                    <td><input type="text" class="xPos" /></td>
                </tr>
                <tr>
                    <td>drag y: </td>
                    <td><input type="text" class="yPos" /></td>
                </tr>
            </table>
        </div>
    </li>
    <li class="elem">
        <div class="ob">
            <p id="pd">RSS</p>
            <table>
                <tr>
                    <td>drag x: </td>
                    <td><input type="text" class="xPos" /></td>
                </tr>
                <tr>
                    <td>drag y: </td>
                    <td><input type="text" class="yPos" /></td>
                </tr>
            </table>
        </div>
    </li>
    <li class="elem">
        <div class="ob">
            <p id="pd">Pogoda</p>
            <table>
                <tr>
                    <td>drag x: </td>
                    <td><input type="text" class="xPos" /></td>
                </tr>
                <tr>
                    <td>drag y: </td>
                    <td><input type="text" class="yPos" /></td>
                </tr>
            </table>
        </div>
    </li>
</ul>
<input type="text" class="xD" />

