<div id="table">
    <div id="firstdiv">
    </div>
</div>
<ul id="listOfElem" style="list-style: none">
    <li class="elem">
        <div class="ob watch">
            <p>Zegar</p>
        </div>
    </li>
    <li class="elem">
        <div class="ob rss">
            <p>RSS</p>
        </div>
    </li>
    <li class="elem">
        <div class="ob weather">
            <p>Pogoda</p>
        </div>
    </li>
    <li class="elem">
        <div class="ob pictures">
            <p>Zdjęcia</p>
        </div>
    </li>
</ul>
<input type="text" class="xD" />
<input id="gen" type="button" value="Generuj" />
<textarea rows="100" cols="100" id="area"></textarea>
