@*<script src="jquery.js" type="text/javascript"></script>
<script src="jquery-ui.min.js" type="text/javascript"></script>*@
<div id="table">
    <div id="firstdiv">
    </div>
</div>
<ul id="listOfElem" style="list-style: none">
    <li class="elem">
        <div class="ob watch">
            <p id="pd">Zegar</p>
        </div>
    </li>
    <li class="elem">
        <div class="ob rss">
            <p id="pd">RSS</p>
        </div>
    </li>
    <li class="elem">
        <div class="ob weather">
            <p id="pd">Pogoda</p>
        </div>
    </li>
    <li class="elem">
        <div class="ob pictures">
            <p>Zdjęcia</p>
        </div>
    </li>
</ul>
<input type="text" class="xD" />
<input id="gen" type="button" value="Generuj" />
<textarea rows="100" cols="100" id="area">wyświetlać to w p !!!!!!!</textarea>
