<script src="jquery.js" type="text/javascript"></script>
<script src="jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $("#tablica").sortable();
    });
</script>
<script type="text/javascript">
    $(function () {
        var $element;
        var $pos;
        $(".obiekt").draggable({
            start: function () {
                $element = this;
            },
            drag: function (event, ui) {
                $pos = $(this).offset();
                $(".xPos", $element).val($pos.left);
                $(".yPos", $element).val($pos.top);
                $(".xD").val($pos.left + " top: " + $pos.top);
            },
            containment: "#tablica"
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        var $listOfElem = $("#listOfElem");
        $("li", $listOfElem).draggable({
            helper: "clone",
            revert: "invalid",
            connectToSortable: "#tablica"
        });
        $("li", $listOfElem).droppable({

            drop: function (event, ui) {
                var b = ui.getElementsByTagName('li');

                while (b.length) {
                    var parent = b[0].parentNode;
                    while (b[0].firstChild) {
                        parent.insertBefore(b[0].firstChild, b[0]);
                    }
                    parent.removeChild(b[0]);
                }
            }
        });
    });
</script>
<style>
    div.obiekt {
        border-style: solid;
        width: 200px;
        height: auto;
        object-position: left,top;
    }

    #tablica {
        width: 600px;
        height: 350px;
        border-style: solid;
        border-color: red;
        float: left;
    }

    div.firstdiv {
        border-style: dotted;
        width: 200px;
        height: 100px;
    }

    #listOfElem {
        border-style: double;
        float: left;
    }
</style>
<div id="tablica">
    <div class="firstdiv">
    </div>
</div>
<ul id="listOfElem">
    <li class="elem">
        <div class="obiekt">
            <p id="pd">Zegar</p>
            <table>
                <tr>
                    <td>drag x: </td>
                    <td><input type="text" class="xPos" /></td>
                </tr>
                <tr>
                    <td>drag y: </td>
                    <td><input type="text" class="yPos" /></td>
                </tr>
            </table>
        </div>
    </li>
    <li class="elem">
        <div class="obiekt">
            <p id="pd">RSS</p>
            <table>
                <tr>
                    <td>drag x: </td>
                    <td><input type="text" class="xPos" /></td>
                </tr>
                <tr>
                    <td>drag y: </td>
                    <td><input type="text" class="yPos" /></td>
                </tr>
            </table>
        </div>
    </li>
    <li class="elem">
        <div class="obiekt">
            <p id="pd">Pogoda</p>
            <table>
                <tr>
                    <td>drag x: </td>
                    <td><input type="text" class="xPos" /></td>
                </tr>
                <tr>
                    <td>drag y: </td>
                    <td><input type="text" class="yPos" /></td>
                </tr>
            </table>
        </div>
    </li>
</ul>
<input type="text" class="xD" />

