<script src="jquery.js" type="text/javascript"></script>
<script src="jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript">
        $(function () {
            $("#but").click(function () {
                $("#but").hide();
            })
        });
</script>
<script type="text/javascript">
        $(function () {
            $(".obiekt").draggable({
                drag: function (event, ui) {
                    $("#x").val(ui.position.left);
                    $("#y").val(ui.position.top);
                },
                containment: "#tablica",
                grid: [20,20]
            });
        });
</script>
<style>
    div.obiekt {
        border-style: solid;
        width: 200px;
        height: auto;
    }

    #tablica {
        width: auto;
        height: 700px;
        border-style: solid;
        border-color: red;
    }
</style>
<div id="tablica">
    <form id="form1">
        <div id="d1" class="obiekt">
            <input type="button" value="Klik" id="but" />
            <p id="pd">Zegar</p>
            <table id="console">
                <tr>
                    <td>drag x: </td>
                    <td><input type="text" id="x" class="console" /></td>
                </tr>
                <tr>
                    <td>drag y: </td>
                    <td><input type="text" id="y" class="console" /></td>
                </tr>
            </table>
        </div>
        <div id="d2" class="obiekt">
            <p id="pd">Inny element</p>
            <table id="console2">
                <tr>
                    <td>drag x: </td>
                    <td><input type="text" id="x" class="console2" /></td>
                </tr>
                <tr>
                    <td>drag y: </td>
                    <td><input type="text" id="y" class="console2" /></td>
                </tr>
            </table>
        </div>
    </form>
</div>

