<script src="jquery.js" type="text/javascript"></script>
<script src="jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        var $startPostion = $("#firstdiv");
        var $element;
        var $pos;
        $(".ob").draggable({
            helper: "clone",
            revert: "invalid"
        });
        $("#tablica").droppable({
            accept: ".ob",
            drop: function (event, ui) {
                $(this).append($(ui.draggable).clone());
                $("#tablica .ob").addClass("obiekt");
                $(".obiekt").removeClass("ui-draggable ob");

                $(".obiekt").draggable({
                    create: function (event, ui) {
                        $(this).position({
                            of: $startPostion
                        });
                        var $left;
                        var $top;
                    },
                    start: function () {
                        $element = this;
                    },
                    drag: function (event, ui) {
                        $pos = $(this).offset();    
                        $left = $pos.left - $startPostion.offset().left;
                        $top = $pos.top - $startPostion.offset().top; 
                        $(".xPos", $element).val($left);
                        $(".yPos", $element).val($top);
                        $(".xD").val("left: " + $left + " top: " + $top);
                    },
                    containment: "#tablica"
                });
            }
        });
    });
</script>

<div id="tablica">
    <div id="firstdiv">
    </div>
</div>
<ul id="listOfElem">
    <li class="elem">
        <div class="ob">
            <p id="pd">Zegar</p>
            <table>
                <tr>
                    <td>drag x: </td>
                    <td><input type="text" class="xPos" /></td>
                </tr>
                <tr>
                    <td>drag y: </td>
                    <td><input type="text" class="yPos" /></td>
                </tr>
            </table>
        </div>
    </li>
    <li class="elem">
        <div class="ob">
            <p id="pd">RSS</p>
            <table>
                <tr>
                    <td>drag x: </td>
                    <td><input type="text" class="xPos" /></td>
                </tr>
                <tr>
                    <td>drag y: </td>
                    <td><input type="text" class="yPos" /></td>
                </tr>
            </table>
        </div>
    </li>
    <li class="elem">
        <div class="ob">
            <p id="pd">Pogoda</p>
            <table>
                <tr>
                    <td>drag x: </td>
                    <td><input type="text" class="xPos" /></td>
                </tr>
                <tr>
                    <td>drag y: </td>
                    <td><input type="text" class="yPos" /></td>
                </tr>
            </table>
        </div>
    </li>
</ul>
<input type="text" class="xD" />

