div.obiekt {
    border-style: solid;
    object-position: left,top;
    position: absolute;
}

div.ob {
    border-style: solid;
    width: auto;
    height: auto;
    object-position: left,top;
}

#tablica {
    width: 800px;
    height: 600px;
    border-style: solid;
    border-color: red;
    float: left;
}

#firstdiv {
    border-style: dotted;
    width: 200px;
    height: 100px;
}

#listOfElem {
    border-style: double;
    float: left;
}

.delete ob {
    width: 20px;
    height: 20px;
    position: inherit;
}

.zegar {
    width: 200px;
    height: 200px;
}

.rss {
    width: 300px;
}

.pogoda {
    width: 200px;
    height: auto;
}
